@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html
{
  scroll-snap-type: y mandatory;
}

section{
  height: 100vh;
  scroll-snap-align: start;
}

#root{
  height: 100%;
}

.Montserrat{
font-family: 'Montserrat', sans-serif;
}
.Nunito{
/*body font*/
font-family: 'Nunito', sans-serif;
}
.Raleway{
font-family: 'Raleway', sans-serif;
}
.Source-Sans-3{
font-family: 'Source Sans 3', sans-serif;
}

.HomePage
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url('../public/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.series-b
{
  background-image: url('../public/images/series_b.jpg');
}

.plug-and-play
{
  background-image: url('../public/images/plug_and_play.jpg');
}

.link{
text-decoration: underline;
text-underline-offset: 5px;
cursor: pointer;
}

.HomePage .link
{
  font-weight: 600;
  color: rgb(177, 177, 177);
}

.HomePage *
{
  margin: 0;
}

.caption
{
  margin-left: 30px;
  font-size: medium;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgb(177, 177, 177);
}

.content
{
  height: 75%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.top-content
{
  text-align: center;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.925);
}

.button
{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.button > button
{
  width: 300px;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  font-size: medium;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
}

.button > button:first-child
{
  background-color: rgb(209, 209, 209);
  color: rgb(12, 12, 12);
}

.button > button:nth-child(2)
{
  background-color: rgba(26, 26, 26, 0.95);
  color: rgb(192, 192, 192);
}

.navbar
{
  padding: 11px 0px;
  align-content: center;
  align-items: center;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.048);
}

.navbar > .logo
{
  margin-left:30px;
  letter-spacing: 20px;
  color: rgb(233, 233, 233);
  font-weight: 600;
  font-size: 30px;
}

.navbar > .logo:hover
{
  cursor: pointer;
  transform: scale(105%);
  transition: transform 0.3s ease-in-out;
}

.navbar > .content
{
  width: 30%;
  display: flex;
  flex-direction: row;
}

.navbar a
{
  font-size: larger;
  text-decoration: none;
  font-weight: 500;
  color: rgb(250, 250, 250);
  border-radius: 5px;
  padding: 2px 10px;
}

.navbar a:hover
{
  background-color: rgba(121, 121, 121, 0.651);
}

.navbar > .support
{
  display: flex;
  margin-left: 0;
  justify-content: space-between;
  margin-right: 30px;
}

.navbar > .support > span
{
  color: rgb(22, 22, 22);
  margin: 0px 10px;
  font-weight: 300;
  font-size: 30px;
  border-radius: 5px;
}

.navbar >.support > span:hover
{
  background-color: rgba(31, 31, 31, 0.123);
  cursor: pointer;
}

.mini-menu
{
  position: absolute;
  top: 0;
  padding-top: 60px; 
  z-index: -2;
  background-color: #c9c8bbe7
}

.page {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.page.show {
  opacity: 1;
  transform: translateY(0);
}

.plug-and-play
{
  filter: brightness(0.85);
}

.darken h1
{
  font-size: 50px;
}

.darken h2
{
  font-size: 45px;
}